<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Powered-Resume-Extraction-System</title>  <!-- Update title here -->
</head>
<body>
    <h1>AI-Powered-Resume-Extraction-System</h1>
    
    <form action="/categorize-resume/" method="POST" enctype="multipart/form-data">
        <label for="file">Select a PDF or Word Resume:</label><br><br>
        <input type="file" id="file" name="file" required><br><br>
        <input type="submit" value="Upload and Categorize">
    </form>
</body>
</html>
